@import "../../styles/Theme.scss";

.loginPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 600px;
  .loginForm {
    position: relative;
    width: 80%;
    max-width: 450px;
  }

  span {
    font-size: 0.9rem;
  }
}
