@import "./Theme.scss";
@import "./Screens.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 1000px;
  background-color: var(--page-background);
  color: var(--textMain-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
