// Tablets and small desktops
$screen-md-min: 815px;

// Phones
$screen-ph-min: 480px;

// Large tablets and desktops
$screen-xl: 1200px;

@mixin tablet {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: #{$screen-ph-min}) {
    @content;
  }
}
@mixin largeDevice {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}
