.light {
  --page-background: #ffffff;
  --nav-background: #ffffff;
  --main-color: #2b67f6;
  --sec-color: #27ae60;
  --textMain-color: #333333;
  --mobileNav-color: rgba(0, 0, 0, 0.63);
  --textSec-color: #a5a7a7;

  //input field
  --input-background: #f4f7ff;
}

.dark {
  --page-background: #1c1f2a;
  --nav-background: #202531;
  --main-color: #2b67f6;
  --textMain-color: #ffffff;
  --textSec-color: #f4f7ff;
  --sec-color: #27ae60;
  --mobileNav-color: rgba(255, 255, 255, 0.63);

  //input field
  --input-background: #1c1f2a;
}
