.light {
  --theme-page-background: #ffffff;
  --Main-color: #2b67f6;
  --Sec-color: #27ae60;
  --textMain-color: #333333;
  --textSec-color: #a5a7a7;
}

.dark {
  --theme-page-background: #1c1f2a;
  --Main-color: #2b67f6;
  --textMain-color: #ffffff;
  --textSec-color: #f4f7ff;
  --Sec-color: #27ae60;
}
