@import "../../styles/Screens.scss";

.notFoundPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    font-size: 1.6rem;
    @include tablet {
      font-size: 1.3rem;
    }
  }
}

.notFoundImg {
  width: 70%;
}
